PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM no
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PrintMotd no
PermitTTY no
AcceptEnv LANG LC_*
Subsystem sftp internal-sftp
ForceCommand internal-sftp
ChrootDirectory /rtt_storage_server/storage
AuthorizedKeysFile /rtt_storage_server/authorized_keys

